<a href="https://colab.research.google.com/github/Rutikab12/Play_with_Python/blob/main/Python_Basics_for_DE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Dictionary in Python
it is an unordered collection of elements.
Used to store values like map.


Unlike other datatype which hold
only single values, dictionary have 'key:value' pairs.
where

key: is single value

value: can be list,list within list,numbers, etc

In [23]:
#Dictionary Methods

#initialize empty dict
empt_dict={}
print(type(empt_dict))

#dict of list of tuples
dict1=dict([(1,'a'),(2,'b')])
print(dict1)

#update the value in dict
dict2={'Name':'Rutik','Class':'A','Age':32}
dict2['Name']='Ankit'
print(dict2)

#add a new value to dict
dict2['Address']='Pune'
print(dict2)

#delete the value
del dict2['Address']
print(dict2)

#pop
dict2.pop('Name')
print(dict2)

#popitem
dict2.popitem() #pop from start one by one
print(dict2)

#clear whole dict
dict2.clear()
print(dict2)

<class 'dict'>
{1: 'a', 2: 'b'}
{'Name': 'Ankit', 'Class': 'A', 'Age': 32}
{'Name': 'Ankit', 'Class': 'A', 'Age': 32, 'Address': 'Pune'}
{'Name': 'Ankit', 'Class': 'A', 'Age': 32}
{'Class': 'A', 'Age': 32}
{'Class': 'A'}
{}

# Sets in Python

set is an unordered collection of items.

No duplicates.

Sets can be used to perform mathematical set operations like union,intersection,symmetric difference,etc.

It is Mutable.

In [ ]:
#emptyset

empty=set() #dtype:set

empty={} #dtype:dict

#add and update

set1={'python','java'}

print(set1.add('c++'))

#add → only adds one element at a time

set2={1,2,3}

print(set2.update({4,5,6}))

#update → can add multiple elements at at time

#remove

set2={1,2,3,4,5,6}

print(set2.remove(1))

#if I tried to remove element not present in set it gives key_Error.

#discard

set1={'py','java','c++'}

print(set1.discard('py'))

#if I tried remove element not present in set, it won;t give error.

#pop

set3={1,2,3,4,5,6}

print(set3.pop())

#it remove any random element from set

#clear

set3.clear()

#it clears whole set

None
None
None
None
1

In [ ]:
set1={1,2,3,4,4}

set2={4,5,6}

#set union
print(set1.union(set2)) #gives only unique elements

print(set1 | set2)

#set intersection
print(set1.intersection(set2))
print(set1 & set2)

#set difference
print(set1.difference(set2))
print(set2-set1)

#set symmetric difference
print(set1.symmetric_difference(set2))
print(set1 ^ set2)

#set subset
set3={'a','b','c'}
set4={'f','e','d','c','b'}
z=set3.issubset(set4)
print(z)

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{4}
{4}
{1, 2, 3}
{5, 6}
{1, 2, 3, 5, 6}
{1, 2, 3, 5, 6}
False

#frozen sets

Frozen is quite relatable with tuple

It is immutable.
Can be created using frozenset().
Does not support indexing
Set cannot be used as a key in dictionary but frozen set can.

In [ ]:
#forzen set
nu=(1,2,3,4,5,6,7,8,9)
fnum=frozenset(nu) #converting tuple to frozenset
print(fnum)

#adding elements , will give attribute error
se=frozenset([10,20,30])
#se.add(90)

#frozen set can be used as a key in dict
Student={'name':'Ankit','age':'21','sex':'M'}
key=frozenset(Student)
print(key)

#does not support indxing, hence give typerror
#se[1]=90

frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9})
frozenset({'name', 'sex', 'age'})

In [ ]:
#Patterns using for-
#row-column needs to be identified in this cases, first try to implement it row wise and then column wise.

'''1.star pattern
eg: * * * * * *
    * * * * * *
    * * * * * *
'''
for row in range(1,6):
  print(end='\n')  #we can use print() only
  for column in range(1,6):
    print('*',end=' ')  #end to print in same line

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
#2.Traingle Pattern
'''
*
* *
* * *
* * * *
* * * * *
'''
#just add row+1 to get no of stars similar to row_numbers
for row in range(1,6):
  print(end='\n')
  for column in range(1,row+1):
    print('*',end=' ')

*
* *
* * *
* * * *
* * * * *

In [8]:
#3. Triangle Pattern
'''
* * * * *
* * * *
* * *
* *
*
'''
for row in range(6,0,-1):
  print(end='\n')
  for column in range(1,row+1):
    print('*',end=' ')

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [7]:
#4.Printing Pattern by some stepsize
'''
**
****
******
'''
for row in range(1,6,2):
  print(end='\n')
  for column in range(1,row+1):
    print('*',end=' ')

*
* * *
* * * * *

In [10]:
#5.Pattern Pyrami
'''
*
* *
* * *
* * * *
* * * * *
'''
num=int(input('Enter no of rows: '))
for row in range(1,num):
  print(end='\n')
  for column in range(1,row+1):
    print('*',end=' ')
  print()

#for pyramid structure we use same logic as we need space 3,2,1,0
for row in range(1,num+1):
  for j in range(1,num-row+1):
    print(end=' ')
  for column in range(1,row+1):
    print('*',end=' ')
  print()

Enter no of rows: 6

*

* *

* * *

* * * *

* * * * *
     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

In [13]:
#Patter : Inverted Traingle
num=int(input('Enter no of rows: '))
for row in range(num,0,-1):
  for j in range(1,num-row+1):
    print(end=' ')
  for column in range(1,row+1):
    print('*',end=' ')
  print()

Enter no of rows: 6
* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [ ]:
#LeetCode: Count no of digits
def evenlyDivides (self, N):
        # code here
        dup = N
        i = 0
        while N != 0:
            last_digit = N % 10
            if last_digit != 0 and dup % last_digit == 0:
                i += 1
            N = N // 10
        return i

In [ ]:
#LeetCode: Reverse the Number
def reverse(self, x: int) -> int:
        sign = -1 if x < 0 else 1
        x *= sign
        revNum=0
        while x>0:
            last_digit=x%10
            revNum=revNum*10+last_digit
            x=x//10
        revNum *= sign
        if revNum > 2 ** 31 - 1 or revNum < -2 ** 31:
            return 0
        return revNum
#first check the number is +ve or -ve
#then do logic part
#come out of while loop and again check size of number and then return it.

In [ ]:
#LeetCode: Palindrome Number or not
def isPalindrome(self, x: int) -> bool:
        sign = -1 if x < 0 else 1
        x *= sign
        dup = x
        revNum=0
        while x>0:
            last_digit=x%10
            revNum=revNum*10+last_digit
            x=x//10
        revNum *= sign
        if revNum > 2 ** 31 - 1 or revNum < -2 ** 31:
            return 0
        if revNum==dup:
            return True
        return False

In [ ]:
#LeetCode: Armstrong number or not
def armstrongNumber (n):
        # calc no of digits first
        k=len(str(n))
        dup=n
        #initialize sum=0
        sum=0
        while n!=0:
            last_digit=n%10
            sum=sum+(last_digit**k)
            n=n//10
        if sum==dup:
            return True
        else:
            return False
armstrongNumber(153)

True

In [24]:
#LeetCode :Length of Last Word
def lengthOfLastWord(s):
  #first elimnate the white spaces
  s=s.strip()
  #split the string with space or any character
  strList=s.split(" ")
  #take out last work in that list
  last_word=strList[-1]
  #measure its size and return
  size=len(last_word)
  return size

lengthOfLastWord('Hello World')

5

In [26]:
#Find fibonacci
'''
0,1,1,2,3,5,8,13,21,34,55,89  --number series
---------------------------
0,1,2,3,4,5,6,7,8,9,10,11  --index
'''
def fib(n):
  if n==0 or n==1:
    return n
  else:
    return fib(n-1)+fib(n-2)
fib(10)

55