<a href="https://colab.research.google.com/github/Rutikab12/Play_with_Python/blob/main/Python_Basics_for_DE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sets in Python

set is an unordered collection of items.

No duplicates.

Sets can be used to perform mathematical set operations like union,intersection,symmetric difference,etc.

It is Mutable.

In [9]:
#emptyset

empty=set() #dtype:set

empty={} #dtype:dict

#add and update

set1={'python','java'}

print(set1.add('c++'))

#add → only adds one element at a time

set2={1,2,3}

print(set2.update({4,5,6}))

#update → can add multiple elements at at time

#remove

set2={1,2,3,4,5,6}

print(set2.remove(1))

#if I tried to remove element not present in set it gives key_Error.

#discard

set1={'py','java','c++'}

print(set1.discard('py'))

#if I tried remove element not present in set, it won;t give error.

#pop

set3={1,2,3,4,5,6}

print(set3.pop())

#it remove any random element from set

#clear

set3.clear()

#it clears whole set

None
None
None
None
1

In [17]:
set1={1,2,3,4,4}

set2={4,5,6}

#set union
print(set1.union(set2)) #gives only unique elements

print(set1 | set2)

#set intersection
print(set1.intersection(set2))
print(set1 & set2)

#set difference
print(set1.difference(set2))
print(set2-set1)

#set symmetric difference
print(set1.symmetric_difference(set2))
print(set1 ^ set2)

#set subset
set3={'a','b','c'}
set4={'f','e','d','c','b'}
z=set3.issubset(set4)
print(z)

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{4}
{4}
{1, 2, 3}
{5, 6}
{1, 2, 3, 5, 6}
{1, 2, 3, 5, 6}
False

#frozen sets

Frozen is quite relatable with tuple

It is immutable.
Can be created using frozenset()
Does not support indexing
Set cannot be used as a key in dictionary but frozen set can.

In [18]:
#forzen set
nu=(1,2,3,4,5,6,7,8,9)
fnum=frozenset(nu) #converting tuple to frozenset
print(fnum)

#adding elements , will give attribute error
se=frozenset([10,20,30])
#se.add(90)

#frozen set can be used as a key in dict
Student={'name':'Ankit','age':'21','sex':'M'}
key=frozenset(Student)
print(key)

#does not support indxing, hence give typerror
#se[1]=90

frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9})
frozenset({'name', 'sex', 'age'})

In [26]:
#Patterns using for-loop

'''1.star pattern
eg: * * * * * *
    * * * * * *
    * * * * * *
'''
for row in range(1,6):
  print(end='\n')  #we can use print() only
  for column in range(1,6):
    print('*',end=' ')  #end to print in same line

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *