<a href="https://colab.research.google.com/github/Rutikab12/Play_with_Python/blob/main/Python_Basics_for_DE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Dictionary in Python
it is an unordered collection of elements.
Used to store values like map.


Unlike other datatype which hold
only single values, dictionary have 'key:value' pairs.
where

key: is single value

value: can be list,list within list,numbers, etc

In [ ]:
#Dictionary Methods

#initialize empty dict
empt_dict={}
print(type(empt_dict))

#dict of list of tuples
dict1=dict([(1,'a'),(2,'b')])
print(dict1)

#update the value in dict
dict2={'Name':'Rutik','Class':'A','Age':32}
dict2['Name']='Ankit'
print(dict2)

#add a new value to dict
dict2['Address']='Pune'
print(dict2)

#delete the value
del dict2['Address']
print(dict2)

#pop
dict2.pop('Name')
print(dict2)

#popitem
dict2.popitem() #pop from start one by one
print(dict2)

#clear whole dict
dict2.clear()
print(dict2)

<class 'dict'>
{1: 'a', 2: 'b'}
{'Name': 'Ankit', 'Class': 'A', 'Age': 32}
{'Name': 'Ankit', 'Class': 'A', 'Age': 32, 'Address': 'Pune'}
{'Name': 'Ankit', 'Class': 'A', 'Age': 32}
{'Class': 'A', 'Age': 32}
{'Class': 'A'}
{}

# Sets in Python

set is an unordered collection of items.

No duplicates.

Sets can be used to perform mathematical set operations like union,intersection,symmetric difference,etc.

It is Mutable.

In [ ]:
#emptyset

empty=set() #dtype:set

empty={} #dtype:dict

#add and update

set1={'python','java'}

print(set1.add('c++'))

#add → only adds one element at a time

set2={1,2,3}

print(set2.update({4,5,6}))

#update → can add multiple elements at at time

#remove

set2={1,2,3,4,5,6}

print(set2.remove(1))

#if I tried to remove element not present in set it gives key_Error.

#discard

set1={'py','java','c++'}

print(set1.discard('py'))

#if I tried remove element not present in set, it won;t give error.

#pop

set3={1,2,3,4,5,6}

print(set3.pop())

#it remove any random element from set

#clear

set3.clear()

#it clears whole set

None
None
None
None
1

In [ ]:
set1={1,2,3,4,4}

set2={4,5,6}

#set union
print(set1.union(set2)) #gives only unique elements

print(set1 | set2)

#set intersection
print(set1.intersection(set2))
print(set1 & set2)

#set difference
print(set1.difference(set2))
print(set2-set1)

#set symmetric difference
print(set1.symmetric_difference(set2))
print(set1 ^ set2)

#set subset
set3={'a','b','c'}
set4={'f','e','d','c','b'}
z=set3.issubset(set4)
print(z)

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{4}
{4}
{1, 2, 3}
{5, 6}
{1, 2, 3, 5, 6}
{1, 2, 3, 5, 6}
False

#frozen sets

Frozen is quite relatable with tuple

It is immutable.
Can be created using frozenset().
Does not support indexing
Set cannot be used as a key in dictionary but frozen set can.

In [ ]:
#forzen set
nu=(1,2,3,4,5,6,7,8,9)
fnum=frozenset(nu) #converting tuple to frozenset
print(fnum)

#adding elements , will give attribute error
se=frozenset([10,20,30])
#se.add(90)

#frozen set can be used as a key in dict
Student={'name':'Ankit','age':'21','sex':'M'}
key=frozenset(Student)
print(key)

#does not support indxing, hence give typerror
#se[1]=90

frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9})
frozenset({'name', 'sex', 'age'})

#Patterns Problem

In [ ]:
#Patterns using for-
#row-column needs to be identified in this cases, first try to implement it row wise and then column wise.

'''1.star pattern
eg: * * * * * *
    * * * * * *
    * * * * * *
'''
for row in range(1,6):
  print(end='\n')  #we can use print() only
  for column in range(1,6):
    print('*',end=' ')  #end to print in same line

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
#2.Traingle Pattern
'''
*
* *
* * *
* * * *
* * * * *
'''
#just add row+1 to get no of stars similar to row_numbers
for row in range(1,6):
  print(end='\n')
  for column in range(1,row+1):
    print('*',end=' ')

*
* *
* * *
* * * *
* * * * *

In [ ]:
#3. Triangle Pattern
'''
* * * * *
* * * *
* * *
* *
*
'''
for row in range(6,0,-1):
  print(end='\n')
  for column in range(1,row+1):
    print('*',end=' ')

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
#4.Printing Pattern by some stepsize
'''
**
****
******
'''
for row in range(1,6,2):
  print(end='\n')
  for column in range(1,row+1):
    print('*',end=' ')

*
* * *
* * * * *

In [ ]:
#5.Pattern Pyrami
'''
*
* *
* * *
* * * *
* * * * *
'''
num=int(input('Enter no of rows: '))
for row in range(1,num):
  print(end='\n')
  for column in range(1,row+1):
    print('*',end=' ')
  print()

#for pyramid structure we use same logic as we need space 3,2,1,0
for row in range(1,num+1):
  for j in range(1,num-row+1):
    print(end=' ')
  for column in range(1,row+1):
    print('*',end=' ')
  print()

Enter no of rows: 6

*

* *

* * *

* * * *

* * * * *
     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

In [ ]:
#Patter : Inverted Traingle
num=int(input('Enter no of rows: '))
for row in range(num,0,-1):
  for j in range(1,num-row+1):
    print(end=' ')
  for column in range(1,row+1):
    print('*',end=' ')
  print()

Enter no of rows: 6
* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

#LeetCode Basics

In [ ]:
#LeetCode: Count no of digits
def evenlyDivides (self, N):
        # code here
        dup = N
        i = 0
        while N != 0:
            last_digit = N % 10
            if last_digit != 0 and dup % last_digit == 0:
                i += 1
            N = N // 10
        return i

In [ ]:
#LeetCode: Reverse the Number
def reverse(self, x: int) -> int:
        sign = -1 if x < 0 else 1
        x *= sign
        revNum=0
        while x>0:
            last_digit=x%10
            revNum=revNum*10+last_digit
            x=x//10
        revNum *= sign
        if revNum > 2 ** 31 - 1 or revNum < -2 ** 31:
            return 0
        return revNum
#first check the number is +ve or -ve
#then do logic part
#come out of while loop and again check size of number and then return it.

In [ ]:
#LeetCode: Palindrome Number or not
def isPalindrome(self, x: int) -> bool:
        sign = -1 if x < 0 else 1
        x *= sign
        dup = x
        revNum=0
        while x>0:
            last_digit=x%10
            revNum=revNum*10+last_digit
            x=x//10
        revNum *= sign
        if revNum > 2 ** 31 - 1 or revNum < -2 ** 31:
            return 0
        if revNum==dup:
            return True
        return False

In [ ]:
#LeetCode: Armstrong number or not
def armstrongNumber (n):
        # calc no of digits first
        k=len(str(n))
        dup=n
        #initialize sum=0
        sum=0
        while n!=0:
            last_digit=n%10
            sum=sum+(last_digit**k)
            n=n//10
        if sum==dup:
            return True
        else:
            return False
armstrongNumber(153)

True

In [ ]:
#LeetCode :Length of Last Word
def lengthOfLastWord(s):
  #first elimnate the white spaces
  s=s.strip()
  #split the string with space or any character
  strList=s.split(" ")
  #take out last work in that list
  last_word=strList[-1]
  #measure its size and return
  size=len(last_word)
  return size

lengthOfLastWord('Hello World')

5

In [ ]:
#Find fibonacci
'''
0,1,1,2,3,5,8,13,21,34,55,89  --number series
---------------------------
0,1,2,3,4,5,6,7,8,9,10,11  --index
'''
def fib(n):
  if n==0 or n==1:
    return n
  else:
    return fib(n-1)+fib(n-2)
fib(10)

55

#Bubble Sort

In [ ]:
#if any sorted array comes,use swapped variable with this TOC: O(n) not O(n2)
def bubble_sort(nums):
  n=len(nums)
  for i in range(n-1):
    swapped=False
    for j in range(n-i-1):
      if nums[j]>nums[j+1]:
        nums[j],nums[j+1]=nums[j+1],nums[j]
        swapped=True
    if swapped==False:
      break
  return nums

nums=[2,4,6]
#nums=[13,46,24,52,20,9]
print(bubble_sort(nums))

[2, 4, 6]

In [ ]:
#sorting dict with bubble sort
def bubble_sort(elements,key=None):
  n=len(elements)
  for i in range(n-1):
    swapped=False
    for j in range(n-1-i):
      a=elements[j][key]
      b=elements[j+1][key]
      if a>b:
        elements[j],elements[j+1]=elements[j+1],elements[j]
        swapped=True
    if swapped==False:
      break
    return elements


elements = [
        { 'name': 'mona',   'transaction_amount': 1000, 'device': 'iphone-10'},
        { 'name': 'dhaval', 'transaction_amount': 400,  'device': 'google pixel'},
        { 'name': 'kathy',  'transaction_amount': 200,  'device': 'vivo'},
        { 'name': 'aamir',  'transaction_amount': 800,  'device': 'iphone-8'},
    ]
print(bubble_sort(elements,key='transaction_amount'))

[{'name': 'dhaval', 'transaction_amount': 400, 'device': 'google pixel'}, {'name': 'kathy', 'transaction_amount': 200, 'device': 'vivo'}, {'name': 'aamir', 'transaction_amount': 800, 'device': 'iphone-8'}, {'name': 'mona', 'transaction_amount': 1000, 'device': 'iphone-10'}]

#Insertion Sort

In [ ]:
#sorting array with insertion sort
def insertion_sort(nums):
  n=len(nums)
  for i in range(1,n):
    key=nums[i]
    j=i
    while j>0 and nums[j-1]>key:
      nums[j]=nums[j-1]
      j=j-1
    nums[j]=key
  return nums

nums=[13,46,24,52,20,9]
print(insertion_sort(nums))

[9, 13, 20, 24, 46, 52]

#LeetCode Solved on 01/08/2024
1. Reverse a String 344
2. Reverse Vowels of a String 345

In [ ]:
def reverseString(s):
  l=0
  r=len(s)-1
  while l<r:
      s[r],s[l]=s[l],s[r]
      r=r-1
      l=l+1
  return s
  #s.reverse() --simplest way possible

s=["h","e","l","l","o"]
print(reverseString(s))

['o', 'l', 'l', 'e', 'h']

In [ ]:
def reverseVowels(s):
  chars = list(s) #splits list into characters/letters
  kVowels = 'aeiouAEIOU'
  l = 0
  r = len(s) - 1

  while l < r:
    while l < r and chars[l] not in kVowels:
      l += 1
    while l < r and chars[r] not in kVowels:
      r -= 1
    chars[l], chars[r] = chars[r], chars[l]
    l += 1
    r -= 1

  return ''.join(chars)  #joins that letter without space

s="hello"
print(reverseVowels(s))

holle

#LeetCode Solved on 02/08/2024

1. 283 - Moves Zeros
2. 121 - Best time to Buy and Sell Stocks
3. Normal - Max element in the list
4. Normal - Count occurence of number in list
5. Normal - Check if sum of any tow numbers is zero or not

In [1]:
#solution using swap method and initializing two pointers at same index
def moveZeroes(nums):
  l=0
  n=len(nums)
  for i in range(0,n):
      if nums[i]!=0:
          hold = nums[l]
          nums[l]=nums[i]
          nums[i]=hold
          l=l+1
  return nums

nums=[0,1,0,3,12]
print(moveZeroes(nums))

[1, 3, 12, 0, 0]

In [2]:
#solution using first index as buy_price and then compare each day price and update the profit
def maxProfit(prices):
  #set min to infinity
  # min_price=float('inf')
  # max_profit=0
  # for price in prices:
  #     min_price=min(min_price,price)#this will take min in whole list and compare
  #     max_profit=max(max_profit,price-min_price)
  # return max_profit
  buy_price = prices[0]
  profit = 0

  for p in prices[1:]:
      if buy_price > p:
          buy_price = p

      profit = max(profit, p - buy_price)

  return profit

prices=[7,1,5,3,6,4]
print(maxProfit(prices))

5

In [3]:
#initialize first element as max and traverse the list
def max_list(num):
  max=num[0]
  for i in range(len(num)):
    if num[i]>max:
      max=num[i]
  return max
  # max_ele=max(num)
  # return max_ele

num=[1,2,3,4,5,6]
print(max_list(num))

6

In [8]:
#first initialize a counter and update  when its matches with the element we are counting
def count_num(nums,target):
  count=0
  for i in range(len(nums)):
    if nums[i]==target:
      count=count+1
  return count

nums=[1,2,5,4,5,6]
target=5
print(count_num(nums,target))

2

In [14]:
#check if some of tow numbers is zero or not
def check_zero(nums):
 if len(nums)<2:
  return False
 l1=set(nums)
 for i in nums: #traverse list
  if -i in l1: #then check for any -ve number and if found return result
    return True
 return False


nums=[1,2,3,4,5,-1]
print(check_zero(nums))

True